<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Single Page</title>
    <script>
      window.onpopstate = function (event) {
        showSection(event.state.section);
      };

      function showSection(section) {
        fetch(`/singlepage/sections/${section}`)
          .then((response) => response.text())
          .then((text) => {
            document.querySelector("#section").innerHTML = text;
          });
      }

      document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll("button").forEach((button) => {
          button.onclick = function () {
            const section = this.dataset.section;

            history.pushState({ section: section }, "", `section${section}`);
            showSection(section);
          };
        });
      });
    </script>
  </head>
  <body>
    <h1>Single Page</h1>
    <button data-section="1">Page 1</button>
    <button data-section="2">Page 2</button>
    <button data-section="3">Page 3</button>
    <button data-section="4">Page 4</button>
    <div id="section"></div>
  </body>
</html>
